header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: all 0.5s ease;
}
header.sticky{
    padding: 12px 5%;
    background: #101821;
}

.logo{
    /*
    height: auto;
    width: 100%;
    */
    font-size: 2em;
    color: var(--text-color);
    user-select: none;
}

#navbar .nav-list {
    display: flex; /* Align child elements in a row */
    flex-wrap: wrap; /* Ensure items wrap if there’s insufficient space */
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Adjust spacing between links */
    width: 100%; /* Ensure the navbar spans the page */
}

#navbar .nav-link{
    position: relative;
    font-size: var(--p-font);
    color: var(--other-color);
    text-decoration: none;
    font-weight: 400;
    margin-left: 40px;
    transition: all 0.4s ease;
}
#navbar .nav-link:hover{
    color: var(--text-color);
}

#menu-icon{
    color: var(--text-color);
    font-size: 25px;
    margin-left: 5px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}